<h1>Electric-Car-Statics</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th>
                Year
            </th>
            <th>
                marketPart
            </th>
            <th>
                rankingPosition
            </th>
            <th>
                existsVehicles
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ ecarstatics.country }}</td>
            <td>{{ ecarstatics.year }}</td>
            <td><input class="form-control" ng-model="ecarstatics.marketPart"/></td>
            <td><input class="form-control" ng-model="ecarstatics.rankingPosition"/></td>
            <td><input class="form-control" ng-model="ecarstatics.existsVehicles"/></td>
            <td>
                <button class="btn btn-primary" ng-click="update(ecarstatics.country, ecarstatics.year)">Actualizar</button>
            </td>
        </tr>
    </tbody>
</table>
{{ mensaje }}