<h1>Biocombustibles</h1>
<div>
    <button class="btn btn-primary btn-xs" ng-click="loadBiofuels()" value="load">Cargar recursos</button>
    <button class="btn btn-primary btn-xs" ng-click="deleteBiofuels()">Borrar recursos</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>País</th>
            <th>Año</th>
            <th>Ethanol</th>
            <th>Gas Natural</th>
            <th>Biodiesel</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="biofuel in biofuels">
            <td><a href="#!/ui/v1/biofuels-production/edit/{{ biofuel.country }}/{{biofuel.year}}">{{ biofuel.country }}</a></td>
            <td>{{ biofuel.year }}</td>
            <td>{{ biofuel.ethanolFuel }}</td>
            <td>{{ biofuel.dryNaturalGas }}</td>
            <td>{{ biofuel.biodiesel }}</td>
            <td><button class="btn btn-danger" ng-click="deleteBiofuel(biofuel.country,biofuel.year)" value="delete">Borrar</button></td>
        </tr>
        <tr>
            <td>
                <input class="form-control" ng-model="newBiofuel.country" />
            </td>

            <td>
                <input class="form-control" ng-model="newBiofuel.year" />
            </td>
            <td>
                <input class="form-control" ng-model="newBiofuel.ethanolFuel" />
            </td>
            <td>
                <input class="form-control" ng-model="newBiofuel.dryNaturalGas" />
            </td>
            <td>
                <input class="form-control" ng-model="newBiofuel.biodiesel" />
            </td>

            <td><button class="btn btn-primary" ng-click="addBiofuel()" value="add">Añadir</button></td>
        </tr>

    </tbody>
</table>
<div class="container-fluid">
    <div>
        <div class="col-sm" style="background-color:lightblue;">
            <label>Busqueda por país: <input class="form-control text-center" size="50" ng-model="searchCountry"/></label>
            <button class="btn btn-primary btn-xs" ng-click="searchByCountry()">Buscar</button>

        </div>
        <hr/>
        <div class="col-sm" style="background-color:lightblue;">
            <label for="">Mostrar combustibles desde el año
                <input class="text-center" name="" ng-model="fromYear" />
                <label for=""> hasta </label>
            <input class="text-center" type="text" ng-model="toYear" />
            <button class="btn btn-primary btn-xs" ng-click="searchByYear()">Buscar</button>
            </label>
        </div>
        <hr/>
        <div class="alert alert-success">
            <h2>Mensaje: {{status}}</h2>
        </div>
    </div>
    <div>
        <p align="center">
            <button class="btn btn-primary " ng-click="getAnterior()" value="atras"> < </button>
            <button class="btn btn-primary" ng-click="getSiguiente()" value="siguiente"> > </button>
    </div>
